#root {
    margin: 0;

    box-sizing: border-box;
    width: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 20px;
    /*z-index: 1000;*/
}
.leaflet-container:active {
    box-shadow: 0 0 10px 1px white;
    z-index: 1000;
}
h1 {
    color: white;
    /*background-color: mediumseagreen;*/
    backdrop-filter: blur(5px);
    /*border: 2px solid green;*/
    border-radius: 50px;
    padding: 20px;
    width: 50%;
    position: fixed;
    text-align: center;
    box-shadow: 0 0 50px black;
    z-index: 1000;
    transform: translateY(450px);
}

.map {
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.map .mapCont {
    width: 98%;
    height: 95vh;
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
