*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

.cont {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cont .t-space{
    width: 100%;
    min-height: 5vh;
    background-color: black;
    
}
.cont .b-space {
     width: 100%;
    min-height: 5vh;
    background-color: black;
    margin-top: auto;
}

.cont .content {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont .content .logo {
    width: 60%;
    height: auto;
    background-color: red;
}
.cont .content .form {
    width: 60%;
    height: auto;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cont .content .form input {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}
.cont .content .form .hash {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;

    
}
.cont .content .form .hash input {
    width: 90%;
}
.cont .content .form .hash button{
    background-color: skyblue;
    padding: 5px;
}

.cont .content .form .timer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .content .form .timer p {
    font-size: 20px;
    font-weight: bold;
}
.cont .content .form .timer .timepick {
    width: 60%;
    height: auto;
    background-color: white;
    margin-left: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 6px;
}
.cont .content .form .timer .timepick input[type="time"]{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}
.cont .content .form .termcond {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.cont .content .form .termcond input {
    width: 40px;
}
.cont .content .form .broadcast {
    width: auto;
    height: 20vh;
}
.cont .content .form .broadcast button {
    width: auto;
    height: auto;
    padding: 15px 40px;
    font-size: 20px;
}

.cont .content .form .broadcast button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
}